header h1 {
    text-indent:  -999px
}
header h1 img {
    display: block;
}

header h1,
header nav {
    display: inline-block;
}

header nav u {
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
nav ul li {
    display: inline-block;
    margin-right:  20px;
}

nav ul li a {
    padding: 5px;
    display: block;
}

nav ul li a:hover {
    color: white;
    background: grey;
    border-radius: 15px;
    border: 1px black solid;
}



